body{
    background-color: lightcoral;
}

.content {
    width: 70vw;
    margin:0 auto
}

table {
    text-align: center;
    padding: 5px;
    width: 60vw;
}

#add {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50vw;
    align-items: center;
    border: 1px dashed white;
}

input {
    height: 3vh;
    margin-right: 5px;
}

button{
    border: 0;
    background: orangered;
    color: white;
    width: 10vw;
    height: 4vh;
    margin-top: 5px;
}