body{
    background:lightgray;
    font-family:Arial, Helvetica, sans-serif
}

section{
    display:flex;
}

div{
    text-align:center;
    display:flex;
    flex-direction:column;
    width:50vw;
}

table, td, th{
    border:1px solid black;
    align-self:center;
}

table{
    width:40vw;
    background:white;
}