body{
    text-align:center;
    margin:0 auto;
    background-color:lightgray;
}

h1{
    font-size:30px;
    font-family:Arial, Helvetica, sans-serif;
}

#content{
    width:50vw;
    margin:0 auto;
}


input{
    width:20vw;
    height:3vh;
    border:lightslategray;
}

button{
    border:0;
    background-color:lightslategray;
    margin-left:10px;
    padding:5px;
    border-radius:5px;
}

li{
    list-style: none;
}

i{
    margin-left:5px;
}